@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
    font-family: "Cinzel", serif;
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
}

.header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: #fff;
}